@model IEnumerable<SWSoftware.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de produtos</h2>

<p>
    @Html.ActionLink("Ver Carrinho", "ViewCart")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Nome
        </th>
        <th>
            Preço
        </th>
        <th>
            Promoção
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("GetThumbnailImage", "Products", new { productId = item.ID })" alt="Product Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDescription)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "ViewDetails", new { id = item.ID })
            </td>
        </tr>
    }

</table>


