@model SWSoftware.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@Html.ActionLink("Voltar", "Index")
<h3>Você tem certeza que deseja excluir este produto?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagem
        </dt>

        <dd>
            <img src="@Url.Action("GetActualImage", "Products", new { productId = Model.ID })" alt="Product Image" />
        </dd>

        <dt>
            Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Descrição do Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
