@model SWSoftware.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Imagem
        </dt>

        <dd>
            <img src="@Url.Action("GetActualImage", "Products", new { productId = Model.ID })" alt="Product Image" />
        </dd>

        <dt>
            Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Promoção
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <button class="btn btn-primary" id="btnAddToCart">Adicionar ao Carrinho</button>
    @Html.ActionLink("Add To Cart", "AddToCart", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="modal" id="modalQuantity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Digite a quantidade desejada</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Add To Cart", "AddToCart", new { id = Model.ID, quantity = Model.Quantity })
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnAddToCart').click(function () {
        $('#modalQuantity').modal('show');
    })
</script>


